html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sound {
    border-bottom: solid 1px black;
    padding: 12px;
}

#master {
    padding: 12px;
    background: grey;
    height: 40px;
}

#sounds {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.noUi-horizontal {
    margin: 10px 17px;
}
