html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #EAEAE7;
    color: #333333;
    font-family: Fira Sans, Tahoma, Geneva, sans-serif;
}

.sound {
    border-bottom: solid 1px #C7C7C7;
    padding: 12px 0;
    margin: 0 12px;
}

.sound:last-child {
    border: none;
}

#master {
    padding: 12px;
    background: #333333;
    height: 36px;
}

#sounds {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.noUi-horizontal {
    margin: 10px 17px;
}

.noUi-connect {
    background: #00AACC;
}
